@use "globals" as *;

main {
  text-align: center;

  @include breakpoint($first) {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .featured-img {
    img {
      width: 100%;
    }
  }

  .right {
    grid-column: 2/3;
  }

  .left {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
  }

  .featured-content {
    padding: 6.4rem 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    @include breakpoint($first) {
      padding-inline: 11rem;
      align-items: start;
      gap: 4.6rem;
    }

    h2 {
      font-size: 3.2rem;
      max-width: 14ch;
      color: var(--dkr-desaturated-blue);

      @include breakpoint($first) {
        font-size: 4rem;
        letter-spacing: 0.3px;
      }
    }
    p {
      max-width: 44ch;
    }

    a {
      color: var(--dkr-desaturated-blue);
      text-transform: uppercase;
      font-size: 1.5rem;
      letter-spacing: 1.5px;
      align-self: center;
      position: relative;

      @include breakpoint($first) {
        align-self: flex-start;
      }

      &::after {
        position: absolute;
        content: "";
        z-index: -10;
        left: -5%;
        bottom: -15%;
        width: 110%;
        height: 50%;
        background-color: var(--clr, var(--yellow));
        border-radius: 1rem;
        opacity: 25%;
        transition: opacity 250ms ease-in-out;
      }

      &:hover::after {
        opacity: 100%;
      }
    }
  }

  .stacked {
    display: grid;

    & > * {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    img {
      width: 100%;
      @include breakpoint($first) {
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
      }
    }

    .content {
      align-self: end;
      padding: 6rem 2.4rem;

      h2 {
        font-size: 2.8rem;
        margin-bottom: 1em;
      }

      p {
        font-size: 1.6rem;
        letter-spacing: -0.2px;
        line-height: 2.8rem;
        max-width: 37ch;
        margin-inline: auto;
      }
    }
  }
}
