.graphic-text {
  color: var(--dk-desaturated-cyan);
}

.photography-text {
  color: var(--dk-blue);
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.font-fraunces {
  font-family: "Fraunces", serif;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}
